# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
*.sqlite3
db.sqlite3
media/
staticfiles/
.env

# Node
node_modules/
dist/
.vite/
*.local

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Logs
*.log
npm-debug.log*

# Docker
*.pid
